.breadcrumbs.container
    a(href="#") Главная
    a(href="#") Продукция
    a(href="#") Парикмахерские ножницы
    a Наборы ножниц

.productcard.container
    .productcard__top
        .productcard__left
            .fotorama(data-allowfullscreen="true" data-nav="thumbs")
                img(src="img/ft-1.jpg")
                img(src="img/ft-1.jpg")
                img(src="img/ft-1.jpg")

        .productcard__right
            .productcard__status Есть в наличии

            h1.productcard__title ФИЛИРОВОЧНЫЕ НОЖНИЦЫ GL-5535

            .productcard__sub-title Профессиональные прямые ножницы для стрижки волос

            .productcard__info
                .productcard__info-column
                    ul.productcard__list
                        li
                            span Артикул: 
                            span 127941
                        li
                            span Производитель:  
                            span Suntachi
                        li
                            span Металл: 
                            span Сталь Hitachi марки 440А, Япония
                        li
                            span Размеры: 
                            span 5.5 - 35 зубцов
                        li
                            span Расположение ручек: 
                            span  симметричное (классическое)
                        li
                            span Крепление полотен: 
                            span Универсальный винт точноц регулировки
                        li
                            span Упор: 
                            span Съемный
                        li
                            span Дизайн: 
                            span Классический
                        li
                            span Назначение: 
                            span Уровень снятия объема волос 30-50%. Зубцы прямые с просечкой - 35 рубцов

                .productcard__info-column
                    .productcard__pricetop цена от
                    .productcard__price 4 700 руб.
                    a(href="#").btn.productcard__btn Купить

            .tab-block.tab-block__product
                .tabs-btn
                    span(data-tab="#populartab").tabs-btn__el Описание
                    span(data-tab="#recomtab").tabs-btn__el Доставка и оплата

            .action-tab.action-tab_product#populartab
                p Компания METZGER - первый российский производитель профессиональных косметологических инструментов с многолетним опытом.
                p Для изготовления инструментов берется исключительно высококачественная никелированная нержавеющая сталь, прошедшая все этапы строгого контроля качества. Продукция METZGER, предназначенная для профессионалов и их клиентов, набирает популярность благодаря редкому сочетанию стиля, удобства, надежности и разумной цены.
                p Данный инструмент относится к группе товаров медицинского назначения, возврату и обмену не подлежит.
                p Инструмент подлежит любому виду дезинфекции: термической или химической. Также допускается обработка инструмента в стерилизаторе.

            .action-tab.action-tab_product#recomtab
                p Компания METZGER - первый российский производитель профессиональных косметологических инструментов с многолетним опытом.
                p Для изготовления инструментов берется исключительно высококачественная никелированная нержавеющая сталь, прошедшая все этапы строгого контроля качества. Продукция METZGER, предназначенная для профессионалов и их клиентов, набирает популярность благодаря редкому сочетанию стиля, удобства, надежности и разумной цены.
                p Данный инструмент относится к группе товаров медицинского назначения, возврату и обмену не подлежит.
                p Инструмент подлежит любому виду дезинфекции: термической или химической. Также допускается обработка инструмента в стерилизаторе.

    .similarproducts
        .similarproducts__top
            h2.main-title Похожие товары
            .slider-arrows    
                .swiper-button-prev.prod-slider-prev        
                .swiper-button-next.prod-slider-next

        +productslider





