.breadcrumbs.container
    a(href="#") Главная
    a(href="#") Продукция
    a(href="#") Парикмахерские ножницы
    a Наборы ножниц

.catalog.container
    .sidebar
        .journal
            .sidebar__title наш журнал
            ul.journal__list
                li
                    a(href="#") Онлайн Каталог
                li
                    a(href="#") Скачать каталог pdf

        .sidebar__productions
            .sidebar__title Продукция

            ul.catalog-list
                li
                    a(href="#") Наборы и комплекты ножниц
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX
                        li
                            a(href="#") Комплекты ножниц SALON DESIGN (5+ класс)
                        li
                            a(href="#") Комплекты ножниц SALON 4*
                        li
                            a(href="#") Комплекты ножниц CLASSIC GOLD
                        li
                            a(href="#") Комплекты ножниц CLASSIC 3*
                        li
                            a(href="#") Комплекты ножниц CLASSIC (3 класс)
                        li
                            a(href="#") Наборы ножниц для парикмахера
                        li
                            a(href="#") Наборы парикмахерских ножниц
                        li
                            a(href="#") Наборы ножниц для груминга
                        li
                            a(href="#") Наборы ножниц для стрижки собак
                        li
                            a(href="#") Наборы ножниц для стрижки волос

                li
                    a(href="#") Филировочные ножницы
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Ножницы для стрижки волос
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Флажковые ножницы
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Ножницы для слайсинга
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Прямые ножницы парикмахерские
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Парикмахерские ножницы для левшей
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Ножницы парикмахерские Suntachi
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

                li
                    a(href="#") Ножницы парикмахерские оптом
                    .catalog-list__more

                    ul.catalog-list__inner
                        li
                            a(href="#") Комплекты ножниц AKITZ
                        li
                            a(href="#") Комплекты ножниц IDEAL
                        li
                            a(href="#") Комплекты ножниц LUX

    .catalog__content
        h1.main-title наборы ножниц

        +setslist

        .catsearch
            h2.main-title часто ищут

            ul.tagslist.tagslist_catalog
                li
                    a(href="#") Ножницы Suntachi
                li
                    a(href="#") Ножницы Akitz
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Salon Design
                li
                    a(href="#") Suntachi Lux
                li
                    a(href="#") Ножницы Suntachi
                li
                    a(href="#") Suntachi Premium
                li
                    a(href="#") Ножницы Akitz
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Ideal
                li
                    a(href="#") Suntachi Lux
                li
                    a(href="#") Ножницы Akitz
                li
                    a(href="#") Suntachi Classic
                li
                    a(href="#") Suntachi Ideal
                li
                    a(href="#") Suntachi Lux
                li
                    a(href="#").tagslist__more-btn Показать еще

        .catalogproducts
            .catalogproducts__top
                .filter
                    span Сначала дешевле

                    ul.filter__more
                        li 
                            a(href='#') Сначала дешевле
                        li 
                            a(href='#') Сначала дороже

            .catalogproducts__list
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')
                +product('pr-gold.jpg')

            .pagination
                ul.pagination__list
                    li
                        a(href="#").is-active 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3

                button.pagination__next


