.overlay
<div class="modal modal-city">
    <div class="modal__close"></div>
    <div class="popup city-popup">
        <div class="city__wrapper">
            <div class="city__header">
                <span class="city__title">Выбор города</span>                
                <input class="city__input suggestions-input" placeholder="" autocomplete="off">
                <div class="city__res">
                    <ul>
                        <li>Тест 1</li>
                        <li>Тест 2</li>
                        <li>Тест 3</li>
                        <li>Тест 4</li>
                    </ul>
                </div>
            </div>

            <div class="city__options_wrapper">
                <div class="city__options">
                    <div class="menu_letter">А</div>
                    <a data-postal_code="655017">Абакан</a>
                    <a data-postal_code="423330">Азнакаево</a>
                    <a data-postal_code="646880">Азов</a>
                    <a data-postal_code="429820">Алатырь</a>
                    <a data-postal_code="301360">Алексин</a>
                    <a data-postal_code="423450">Альметьевск</a>
                    <a data-postal_code="353440">Анапа</a>
                    <a data-postal_code="607220">Арзамас</a>
                    <a data-postal_code="352900">Армавир</a>
                    <a data-postal_code="462400">Арск</a>
                    <a data-postal_code="624260">Асбест</a>
                    <a data-postal_code="414000">Астрахань</a>
                    <a data-postal_code="412420">Аткарск</a>
                    <a data-postal_code="416500">Ахтубинск</a>
                    <a data-postal_code="662150">Ачинск</a>
                    <div class="menu_letter">Б</div>
                    <a data-postal_code="413840">Балаково</a>
                    <a data-postal_code="606400">Балахна</a>
                    <a data-postal_code="143900">Балашиха</a>
                    <a data-postal_code="412302">Балашов</a>
                    <a data-postal_code="656000">Барнаул</a>
                    <a data-postal_code="346880">Батайск</a>
                    <a data-postal_code="308000">Белгород</a>
                    <a data-postal_code="352635">Белореченск</a>
                    <a data-postal_code="633000">Бердск</a>
                    <a data-postal_code="164570">Березники</a>
                    <a data-postal_code="452450">Бирск</a>
                    <a data-postal_code="675000">Благовещенск</a>
                    <a data-postal_code="356420">Благодарный</a>
                    <a data-postal_code="301835">Богородицк</a>
                    <a data-postal_code="607600">Богородск</a>
                    <a data-postal_code="606440">Бор</a>
                    <a data-postal_code="152170">Борисоглебск</a>
                    <a data-postal_code="241000">Брянск</a>
                    <a data-postal_code="423230">Бугульма</a>
                    <a data-postal_code="461630">Бугуруслан</a>
                    <a data-postal_code="461040">Бузулук</a>
                    <div class="menu_letter">В</div>
                    <a data-postal_code="309991">Валуйки</a>
                    <a data-postal_code="173000">Великий Новгород</a>
                    <a data-postal_code="624090">Верхняя Пышма</a>
                    <a data-postal_code="142700">Видное</a>
                    <a data-postal_code="155330">Вичуга</a>
                    <a data-postal_code="362000">Владикавказ</a>
                    <a data-postal_code="600000">Владимир</a>
                    <a data-postal_code="400000">Волгоград</a>
                    <a data-postal_code="347360">Волгодонск</a>
                    <a data-postal_code="425000">Волжск</a>
                    <a data-postal_code="404100">Волжский</a>
                    <a data-postal_code="160004">Вологда</a>
                    <a data-postal_code="143600">Волоколамск</a>
                    <a data-postal_code="412900">Вольск</a>
                    <a data-postal_code="394000">Воронеж</a>
                    <a data-postal_code="606120">Ворсма</a>
                    <a data-postal_code="140200">Воскресенск</a>
                    <a data-postal_code="427430">Воткинск</a>
                    <a data-postal_code="188640">Всеволожск</a>
                    <a data-postal_code="188800">Выборг</a>
                    <a data-postal_code="607031">Выкса</a>
                    <a data-postal_code="171151">Вышний Волочек</a>
                    <a data-postal_code="601440">Вязники</a>
                    <a data-postal_code="612960">Вятские Поляны</a>
                    <div class="menu_letter">Г</div>
                    <a data-postal_code="188300">Гатчина</a>
                    <a data-postal_code="353460">Геленджик</a>
                    <a data-postal_code="357820">Георгиевск</a>
                    <a data-postal_code="606500">Городец</a>
                    <a data-postal_code="601480">Гороховец</a>
                    <a data-postal_code="364000">Грозный</a>
                    <a data-postal_code="629830">Губкин</a>
                    <a data-postal_code="347870">Гуково</a>
                    <div class="menu_letter">Д</div>
                    <a data-postal_code="606000">Дзержинск</a>
                    <a data-postal_code="140090">Дзержинский</a>
                    <a data-postal_code="433500">Димитровград</a>
                    <a data-postal_code="141800">Дмитров</a>
                    <a data-postal_code="618740">Добрянка</a>
                    <a data-postal_code="141700">Долгопрудный</a>
                    <a data-postal_code="142000">Домодедово</a>
                    <a data-postal_code="346330">Донецк</a>
                    <a data-postal_code="301760">Донской</a>
                    <a data-postal_code="141980">Дубна</a>
                    <a data-postal_code="404002">Дубовка</a>
                    <a data-postal_code="452320">Дюртюли</a>
                    <div class="menu_letter">Е</div>
                    <a data-postal_code="140300">Егорьевск</a>
                    <a data-postal_code="353691">Ейск</a>
                    <a data-postal_code="620000">Екатеринбург</a>
                    <a data-postal_code="423600">Елабуга</a>
                    <a data-postal_code="399770">Елец</a>
                    <a data-postal_code="413500">Ершов</a>
                    <a data-postal_code="357600">Ессентуки</a>
                    <a data-postal_code="301840">Ефремов</a>
                    <div class="menu_letter">Ж</div>
                    <a data-postal_code="662970">Железногорск</a>
                    <a data-postal_code="307170">Железногорск</a>
                    <a data-postal_code="393670">Жердевка</a>
                    <a data-postal_code="445350">Жигулевск</a>
                    <a data-postal_code="403790">Жирновск</a>
                    <a data-postal_code="140180">Жуковский</a>
                    <div class="menu_letter">З</div>
                    <a data-postal_code="606520">Заволжье</a>
                    <a data-postal_code="423520">Заинск</a>
                    <a data-postal_code="663690">Зеленогорск</a>
                    <a data-postal_code="124365">Зеленоград</a>
                    <a data-postal_code="422540">Зеленодольск</a>
                    <a data-postal_code="357910">Зеленокумск</a>
                    <a data-postal_code="456200">Златоуст</a>
                    <a data-postal_code="416540">Знаменск</a>
                    <div class="menu_letter">И</div>
                    <a data-postal_code="153000">Иваново</a>
                    <a data-postal_code="141280">Ивантеевка</a>
                    <a data-postal_code="426000">Ижевск</a>
                    <a data-postal_code="356140">Изобильный</a>
                    <a data-postal_code="356630">Ипатово</a>
                    <a data-postal_code="633000">Искитим</a>
                    <div class="menu_letter">Й</div>
                    <a data-postal_code="424000">Йошкар-Ола</a>
                    <div class="menu_letter">К</div>
                    <a data-postal_code="420000">Казань</a>
                    <a data-postal_code="404500">Калач-на-Дону</a>
                    <a data-postal_code="248000">Калуга</a>
                    <a data-postal_code="442249">Каменка</a>
                    <a data-postal_code="623400">Каменск-Уральский</a>
                    <a data-postal_code="347800">Каменск-Шахтинский</a>
                    <a data-postal_code="403870">Камышин</a>
                    <a data-postal_code="429330">Канаш</a>
                    <a data-postal_code="663600">Канск</a>
                    <a data-postal_code="457351">Карталы</a>
                    <a data-postal_code="650000">Кемерово</a>
                    <a data-postal_code="446430">Кинель</a>
                    <a data-postal_code="155800">Кинешма</a>
                    <a data-postal_code="187110">Кириши</a>
                    <a data-postal_code="610000">Киров</a>
                    <a data-postal_code="613040">Кирово-Чепецк</a>
                    <a data-postal_code="357700">Кисловодск</a>
                    <a data-postal_code="141600">Клин</a>
                    <a data-postal_code="601900">Ковров</a>
                    <a data-postal_code="140400">Коломна</a>
                    <a data-postal_code="196650">Колпино</a>
                    <a data-postal_code="601780">Кольчугино</a>
                    <a data-postal_code="347250">Константиновск</a>
                    <a data-postal_code="456600">Копейск</a>
                    <a data-postal_code="353180">Кореновск</a>
                    <a data-postal_code="456550">Коркино</a>
                    <a data-postal_code="156000">Кострома</a>
                    <a data-postal_code="404352">Котельниково</a>
                    <a data-postal_code="612600">Котельнич</a>
                    <a data-postal_code="403801">Котово</a>
                    <a data-postal_code="393190">Котовск</a>
                    <a data-postal_code="143400">Красногорск</a>
                    <a data-postal_code="350000">Краснодар</a>
                    <a data-postal_code="617060">Краснокамск</a>
                    <a data-postal_code="660000">Красноярск</a>
                    <a data-postal_code="352380">Кропоткин</a>
                    <a data-postal_code="353380">Крымск</a>
                    <a data-postal_code="607650">Кстово</a>
                    <a data-postal_code="442530">Кузнецк</a>
                    <a data-postal_code="607010">Кулебаки</a>
                    <a data-postal_code="617470">Кунгур</a>
                    <a data-postal_code="640000">Курган</a>
                    <a data-postal_code="352430">Курганинск</a>
                    <a data-postal_code="305000">Курск</a>
                    <a data-postal_code="307250">Курчатов</a>
                    <a data-postal_code="456870">Кыштым</a>
                    <div class="menu_letter">Л</div>
                    <a data-postal_code="423250">Лениногорск</a>
                    <a data-postal_code="398000">Липецк</a>
                    <a data-postal_code="397900">Лиски</a>
                    <a data-postal_code="141730">Лобня</a>
                    <a data-postal_code="606210">Лысково</a>
                    <a data-postal_code="140080">Лыткарино</a>
                    <a data-postal_code="140000">Люберцы</a>
                    <div class="menu_letter">М</div>
                    <a data-postal_code="455000">Магнитогорск</a>
                    <a data-postal_code="385000">Майкоп</a>
                    <a data-postal_code="413090">Маркс</a>
                    <a data-postal_code="456300">Миасс</a>
                    <a data-postal_code="346130">Миллерово</a>
                    <a data-postal_code="357200">Минеральные Воды</a>
                    <a data-postal_code="403310">Михайловка</a>
                    <a data-postal_code="356240">Михайловск</a>
                    <a data-postal_code="393770">Мичуринск</a>
                    <a data-postal_code="347210">Морозовск</a>
                    <a data-postal_code="393950">Моршанск</a>
                    <a data-postal_code="101000">Москва</a>
                    <a data-postal_code="108811">Московский</a>
                    <a data-postal_code="602250">Муром</a>
                    <a data-postal_code="141000">Мытищи</a>
                    <div class="menu_letter">Н</div>
                    <a data-postal_code="423800">Набережные Челны</a>
                    <a data-postal_code="607100">Навашино</a>
                    <a data-postal_code="360000">Нальчик</a>
                    <a data-postal_code="143300">Наро-Фоминск</a>
                    <a data-postal_code="357100">Невинномысск</a>
                    <a data-postal_code="446600">Нефтегорск</a>
                    <a data-postal_code="452680">Нефтекамск</a>
                    <a data-postal_code="423570">Нижнекамск</a>
                    <a data-postal_code="442150">Нижний Ломов</a>
                    <a data-postal_code="603000">Нижний Новгород</a>
                    <a data-postal_code="622000">Нижний Тагил</a>
                    <a data-postal_code="624320">Нижняя Тура</a>
                    <a data-postal_code="404030">Николаевск</a>
                    <a data-postal_code="442680">Никольск</a>
                    <a data-postal_code="356000">Новоалександровск</a>
                    <a data-postal_code="403950">Новоаннинский</a>
                    <a data-postal_code="396070">Нововоронеж</a>
                    <a data-postal_code="446200">Новокуйбышевск</a>
                    <a data-postal_code="301650">Новомосковск</a>
                    <a data-postal_code="353900">Новороссийск</a>
                    <a data-postal_code="630000">Новосибирск</a>
                    <a data-postal_code="624130">Новоуральск</a>
                    <a data-postal_code="429950">Новочебоксарск</a>
                    <a data-postal_code="346400">Новочеркасск</a>
                    <a data-postal_code="346900">Новошахтинск</a>
                    <a data-postal_code="142400">Ногинск</a>
                    <div class="menu_letter">О</div>
                    <a data-postal_code="249030">Обнинск</a>
                    <a data-postal_code="143000">Одинцово</a>
                    <a data-postal_code="456780">Озерск</a>
                    <a data-postal_code="445240">Октябрьск</a>
                    <a data-postal_code="140060">Октябрьский</a>
                    <a data-postal_code="644000">Омск</a>
                    <a data-postal_code="302000">Орёл</a>
                    <a data-postal_code="460000">Оренбург</a>
                    <a data-postal_code="142600">Орехово-Зуево</a>
                    <a data-postal_code="397850">Острогожск</a>
                    <a data-postal_code="446300">Отрадный</a>
                    <div class="menu_letter">П</div>
                    <a data-postal_code="606100">Павлово</a>
                    <a data-postal_code="142500">Павловский Посад</a>
                    <a data-postal_code="404260">Палласовка</a>
                    <a data-postal_code="440000">Пенза</a>
                    <a data-postal_code="623100">Первоуральск</a>
                    <a data-postal_code="614000">Пермь</a>
                    <a data-postal_code="198510">Петергоф</a>
                    <a data-postal_code="412540">Петровск</a>
                    <a data-postal_code="142100">Подольск</a>
                    <a data-postal_code="446450">Похвистнево</a>
                    <a data-postal_code="155550">Приволжск</a>
                    <a data-postal_code="353860">Приморско-Ахтарск</a>
                    <a data-postal_code="180000">Псков</a>
                    <a data-postal_code="413720">Пугачев</a>
                    <a data-postal_code="141200">Пушкино</a>
                    <a data-postal_code="357500">Пятигорск</a>
                    <div class="menu_letter">Р</div>
                    <a data-postal_code="140100">Раменское</a>
                    <a data-postal_code="393250">Рассказово</a>
                    <a data-postal_code="143960">Реутов</a>
                    <a data-postal_code="172380">Ржев</a>
                    <a data-postal_code="155250">Родники</a>
                    <a data-postal_code="396650">Россошь</a>
                    <a data-postal_code="344000">Ростов</a>
                    <a data-postal_code="344000">Ростов-на-Дону</a>
                    <a data-postal_code="412030">Ртищево</a>
                    <a data-postal_code="431440">Рузаевка</a>
                    <a data-postal_code="152900">Рыбинск</a>
                    <a data-postal_code="390000">Рязань</a>
                    <div class="menu_letter">С</div>
                    <a data-postal_code="453250">Салават</a>
                    <a data-postal_code="347630">Сальск</a>
                    <a data-postal_code="443000">Самара</a>
                    <a data-postal_code="190000">Санкт-Петербург</a>
                    <a data-postal_code="430000">Саранск</a>
                    <a data-postal_code="427960">Сарапул</a>
                    <a data-postal_code="410000">Саратов</a>
                    <a data-postal_code="607181">Саров</a>
                    <a data-postal_code="456910">Сатка</a>
                    <a data-postal_code="356530">Светлоград</a>
                    <a data-postal_code="346630">Семикаракорск</a>
                    <a data-postal_code="141300">Сергиев Посад</a>
                    <a data-postal_code="442890">Сердобск</a>
                    <a data-postal_code="624960">Серов</a>
                    <a data-postal_code="142200">Серпухов</a>
                    <a data-postal_code="353560">Славянск-на-Кубани</a>
                    <a data-postal_code="214000">Смоленск</a>
                    <a data-postal_code="456770">Снежинск</a>
                    <a data-postal_code="618541">Соликамск</a>
                    <a data-postal_code="141500">Солнечногорск</a>
                    <a data-postal_code="662500">Сосновоборск</a>
                    <a data-postal_code="188540">Сосновый Бор</a>
                    <a data-postal_code="354000">Сочи</a>
                    <a data-postal_code="355000">Ставрополь</a>
                    <a data-postal_code="309500">Старый Оскол</a>
                    <a data-postal_code="453100">Стерлитамак</a>
                    <a data-postal_code="309070">Строитель</a>
                    <a data-postal_code="142800">Ступино</a>
                    <a data-postal_code="404411">Суровикино</a>
                    <a data-postal_code="446000">Сызрань</a>
                    <div class="menu_letter">Т</div>
                    <a data-postal_code="347900">Таганрог</a>
                    <a data-postal_code="392000">Тамбов</a>
                    <a data-postal_code="170000">Тверь</a>
                    <a data-postal_code="155040">Тейково</a>
                    <a data-postal_code="353500">Темрюк</a>
                    <a data-postal_code="352700">Тимашевск</a>
                    <a data-postal_code="187550">Тихвин</a>
                    <a data-postal_code="352120">Тихорецк</a>
                    <a data-postal_code="445000">Тольятти</a>
                    <a data-postal_code="634000">Томск</a>
                    <a data-postal_code="172001">Торжок</a>
                    <a data-postal_code="187000">Тосно</a>
                    <a data-postal_code="108840">Троицк</a>
                    <a data-postal_code="352800">Туапсе</a>
                    <a data-postal_code="452750">Туймазы</a>
                    <a data-postal_code="300000">Тула</a>
                    <a data-postal_code="625000">Тюмень</a>
                    <div class="menu_letter">У</div>
                    <a data-postal_code="152610">Углич</a>
                    <a data-postal_code="171841">Удомля</a>
                    <a data-postal_code="301600">Узловая</a>
                    <a data-postal_code="432000">Ульяновск</a>
                    <a data-postal_code="403111">Урюпинск</a>
                    <a data-postal_code="352330">Усть-Лабинск</a>
                    <a data-postal_code="450000">Уфа</a>
                    <div class="menu_letter">Ф</div>
                    <a data-postal_code="403518">Фролово</a>
                    <a data-postal_code="141190">Фрязино</a>
                    <a data-postal_code="155520">Фурманов</a>
                    <div class="menu_letter">Х</div>
                    <a data-postal_code="141400">Химки</a>
                    <div class="menu_letter">Ц</div>
                    <a data-postal_code="429900">Цивильск</a>
                    <div class="menu_letter">Ч</div>
                    <a data-postal_code="446100">Чапаевск</a>
                    <a data-postal_code="456440">Чебаркуль</a>
                    <a data-postal_code="428000">Чебоксары</a>
                    <a data-postal_code="454000">Челябинск</a>
                    <a data-postal_code="126606">Череповец</a>
                    <a data-postal_code="369000">Черкесск</a>
                    <a data-postal_code="142300">Чехов</a>
                    <a data-postal_code="422980">Чистополь</a>
                    <a data-postal_code="606540">Чкаловск</a>
                    <a data-postal_code="618200">Чусовой</a>
                    <div class="menu_letter">Ш</div>
                    <a data-postal_code="346500">Шахты</a>
                    <a data-postal_code="309290">Шебекино</a>
                    <a data-postal_code="429120">Шумерля</a>
                    <a data-postal_code="155900">Шуя</a>
                    <div class="menu_letter">Щ</div>
                    <a data-postal_code="301240">Щекино</a>
                    <a data-postal_code="141113">Щелково</a>
                    <a data-postal_code="108850">Щербинка</a>
                    <div class="menu_letter">Э</div>
                    <a data-postal_code="144000">Электросталь</a>
                    <a data-postal_code="358000">Элиста</a>
                    <a data-postal_code="413100">Энгельс</a>
                    <div class="menu_letter">Ю</div>
                    <a data-postal_code="652050">Юрга</a>
                    <a data-postal_code="456120">Юрюзань</a>
                    <div class="menu_letter">Я</div>
                    <a data-postal_code="627010">Ялуторовск</a>
                    <a data-postal_code="150000">Ярославль</a>
                </div>
            </div>			
        </div>
    </div>
</div>
