.header
    .container
        .header__left
            .logo
                img(src="img/logo.png" width="188" height="58" alt="Магазин парикмахерского инструмента")
            .logo-article Магазин парикмахерского инструмента

        .header__right
            .header__top
                .header__column
                    a(href="#").header__city Санкт-Петербург

                ul.header__column
                    li
                        a(href="tel:74991631200").phone +7 (499) 163-12-00
                        .worktime Пн-Вс с 9:00 до 21:00
                    li
                        a(href="https://artaius.ru/").shoplink Интернет-магазин
                    li
                        a(href="mailto:suntachi@gmail.com").maillink suntachi@gmail.com 
                        <br>
                        a(href="#").catalog-link Каталог
                    li
                        .socials
                            a(href="#")
                                img(src="img/fb-icon.svg")
                            a(href="#")
                                img(src="img/vk-icon.svg")
                            a(href="#")
                                img(src="img/inst-icon.svg")

            .header__bottom
                ul.mainmenu
                    li
                        a(href="#") О бренде
                    li
                        a(href="#") Продукция
                        <div class="dropdownmenu">
                            <ul class="dropdownmenu__list">
                                <li>
                                    <a href="#" title="Парикмахерские ножницы">Парикмахерские ножницы</a>
                                    <ul class="dropdownmenu__inner">
                                        <li><a href="#" title="Наборы и комплекты ножниц">Наборы и комплекты ножниц</a></li>
                                        <li><a href="#" title="Филировочные ножницы">Филировочные ножницы</a></li>
                                        <li><a href="#" title="Ножницы для стрижки волос">Ножницы для стрижки волос</a></li>
                                        <li><a href="#" title="Флажковые ножницы">Флажковые ножницы</a></li>
                                        <li><a href="#" title="Ножницы для слайсинга">Ножницы для слайсинга</a></li>
                                        <li><a href="#" title="Прямые ножницы парикмахерские">Прямые ножницы парикмахерские</a></li>
                                        <li><a href="#" title="Парикмахерские ножницы для левшей">Парикмахерские ножницы для левшей</a></li>
                                        <li><a href="#" title="Ножницы парикмахерские SUNTACHI">Ножницы парикмахерские SUNTACHI</a></li>
                                        <li><a href="#" title="Ножницы парикмахерские оптом">Ножницы парикмахерские оптом</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" title="Щипцы для волос ">Щипцы для волос </a>
                                    <ul class="dropdownmenu__inner">
                                        <li>
                                            <a href="#" title="Щипцы для завивки">Щипцы для завивки</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Щипцы для выпрямления">Щипцы для выпрямления</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Щипцы профессиональные">Щипцы профессиональные</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Утюжки для волос">Утюжки для волос</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Щипцы для выпрямления и завивки волос SUNTACHI">Щипцы для выпрямления и завивки волос SUNTACHI</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Щипцы гофре">Щипцы гофре</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Щипцы для укладки">Щипцы для укладки</a></li>
                                        <li>
                                            <a href="#" title="Щипцы недорогие">Щипцы недорогие</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" title="Машинки для стрижки">Машинки для стрижки</a>
                                    <ul class="dropdownmenu__inner">
                                        <li>
                                            <a href="#" title="Машинка SUNTACHI">Машинка SUNTACHI</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Парикмахерская машинка">Парикмахерская машинка</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Окантовочная машинка">Окантовочная машинка</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Профессиональная машинка">Профессиональная машинка</a></li>
                                        <li>
                                            <a href="#" title="Электрическая машинка">Электрическая машинка</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Машинка с насадками">Машинка с насадками</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Машинка для стрижки бороды">Машинка для стрижки бороды</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Аккумуляторная машинка">Аккумуляторная машинка</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Недорогая машинка">Недорогая машинка</a>
                                        </li>
                                        <li>
                                            <a href="#" title="Принадлежности к машинкам">Принадлежности к машинкам</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    li
                        a(href="#") Обучение
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Акции
                    li
                        a(href="") Доставка и оплата
                    li
                        a(href="#") Дистрибьюторы
                    li
                        a(href="#") Контакты

