.header.container
    .header__left
        .logo
            img(src="img/logo.png" width="188" height="58" alt="Магазин парикмахерского инструмента")
        .logo-article Магазин парикмахерского инструмента

    .header__right
        .header__top
            .header__column
                a(href="#").header__city Санкт-Петербург

            ul.header__column
                li
                    a(href="tel:74991631200").phone +7 (499) 163-12-00
                    .worktime Пн-Вс с 9:00 до 21:00
                li
                    a(href="https://artaius.ru/").shoplink Интернет-магазин
                li
                    a(href="mailto:suntachi@gmail.com").maillink suntachi@gmail.com 
                    <br>
                    a(href="#").catalog-link Каталог
                li
                    .socials
                        a(href="#")
                            img(src="img/fb-icon.svg")
                        a(href="#")
                            img(src="img/vk-icon.svg")
                        a(href="#")
                            img(src="img/inst-icon.svg")

        .header__bottom
            ul.mainmenu
                li
                    a(href="#") О бренде
                li
                    a(href="#") Продукция
                li
                    a(href="#") Обучение
                li
                    a(href="#") Новости
                li
                    a(href="#") Акции
                li
                    a(href="") Доставка и оплата
                li
                    a(href="#") Дистрибьюторы
                li
                    a(href="#") Контакты

