mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/img/svg/sprite.svg#" + name)

mixin product(img)
	.product
		.product__status В наличии

		.product__img
			a(href="#")
				img(src="img/" + img)

		h5.product-title
			a(href="#") Jaguar, ножницы Pastell Plus 5,5”, лиловые

		.product-article Профессиональные прямые ножницы для стрижки волос

		.product__bottom
			.product__column
				.price-top цена от
				.product__price 4 700 руб.

			.product__column
				a(href="#").btn.product__btn Купить

mixin productslider
	.product-slider.swiper-container
		.swiper-wrapper
			.swiper-slide
				+product('prod-1.png')
			.swiper-slide
				+product('prod-2.png')
			.swiper-slide
				+product('prod-3.png')
			.swiper-slide
				+product('prod-4.png')

mixin setslist
	ul.sets-list
		li
			a(href="#").sets-list__img
				img(src="img/pr-1.jpg")

			a(href="#").sets-list__link Комплекты ножниц AKITZ
		li
			a(href="#").sets-list__img
				img(src="img/pr-2.jpg")

			a(href="#").sets-list__link Комплекты ножниц IDEAL
		li
			a(href="#").sets-list__img
				img(src="img/pr-3.jpg")

			a(href="#").sets-list__link Комплекты ножниц LUX
		li
			a(href="#").sets-list__img
				img(src="img/pr-4.jpg")

			a(href="#").sets-list__link Комплекты ножниц SALON DESIGN (5+ класс)
		li
			a(href="#").sets-list__img
				img(src="img/pr-5.jpg")

			a(href="#").sets-list__link Комплекты ножниц SALON 4*
		li
			a(href="#").sets-list__img
				img(src="img/pr-6.jpg")

			a(href="#").sets-list__link Комплекты ножниц CLASSIC GOLD
		li
			a(href="#").sets-list__img
				img(src="img/pr-7.jpg")

			a(href="#").sets-list__link Комплекты ножниц CLASSIC 3*
		li
			a(href="#").sets-list__img
				img(src="img/pr-8.jpg")

			a(href="#").sets-list__link Комплекты ножниц CLASSIC (3 класс)
		li
			a(href="#").sets-list__img
				img(src="img/pr-9.jpg")

			a(href="#").sets-list__link Наборы ножниц для парикмахера
		li
			a(href="#").sets-list__img
				img(src="img/pr-10.jpg")

			a(href="#").sets-list__link Наборы парикмахерских ножниц
		li
			a(href="#").sets-list__img
				img(src="img/pr-11.jpg")

			a(href="#").sets-list__link Наборы ножниц для груминга
		li
			a(href="#").sets-list__img
				img(src="img/pr-2.jpg")

			a(href="#").sets-list__link Наборы ножниц для стрижки волос
