extends ../layout/layout.pug
block vars
	- var title = 'Карточка товара';
block header
	include ../includes/header.pug
block content
	include ../includes/content-product.pug
block footer
	include ../includes/footer.pug     

